 #wrap{background-image:linear-gradient(to bottom,#091735,#685db9)}#header{padding:6vmin}#header > header{display:flex;flex:1}.input-option{display:flex;flex:1;text-align-last:left;border-radius:3vmin;font-size:4.5vmin;background-color: #243456;padding:0.9vmin 3vmin;color:#fff;border:1px solid #304063;}.tap-wrap{display:flex;flex:1}.tap-wrap .on{color:#ff6868}.tap-wrap li{flex:1;text-align:center;font-size:5.4vmin;color:#fff;font-weight:bold}.info-column{background:#e4e4e4;font-size:3.4vmin;display:flex;align-items:center}section.info-section{display:none;flex:1;flex-direction:column}.info-column span{text-align:center;border:0.1vmin solid white;padding:1.5vmin 1vmin;position:relative;left:0}.info-column span:nth-child(1),.info-column span:nth-child(3){flex:2}.info-column span:nth-child(2){flex:0.5}.info-column span:nth-child(4){flex:1}.info-row{font-size:3.5vmin}
.info-section.on{
    display: flex
}